html, body, #root {
    height: 100%;
}

.App {
    height: 100%;
}

:root {
    --main-bg-transparent-80: rgba(0, 0, 0, 0.8);
    --main-bg-transparent-100: rgba(0, 0, 0, 1);
    --main-text-color: rgb(255, 255, 255);
}

/*This overrides the fonts where needed. Ideally you want to bake the font into the react-semantic-ui lib.*/
#root *:not(i) {
    font-family: 'Roboto', sans-serif;
}